.header {
    padding-top: 40px;
    padding-bottom: 30px;
    margin-bottom: 40px;
    text-align: left;
    background-color: #0072BC;
}

.header .text {
    margin-left: 20%;
}

.header p {
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 1.4;
    color: #92C2E2;
}

.header .title {
    margin-top: 0;
    color: #fff;
    font-size: 40px;
    line-height: 1;
}

.header img {
    float: left;
    margin-top: -10px;
    margin-right: 40px;
}

img {
    vertical-align: middle;
    border: 0;
}